**/logs
**/screen_logs
**/__pycache__
.cache
spike
*.ckpt
UTF-8snow.sh
*.parquet
data/rbd/spikeprot0528.clean.uniq.noX.RBD.metadata.tsv
data/rbd/spikeprot0528.clean.uniq.noX.RBD.metadata.variants.ADO.csv