**/logs
**/screen_logs
**/__pycache__
**/done
.cache
spike
*.ckpt
UTF-8snow.sh
*.parquet
**/old
**core

src/pnlp/ESM_MLM/plot_multi_job_run.py

# Too big
src/pnlp/ESM_TL/random_vs_stratified_split/embeddings
data/rbd/spikeprot0528.clean.uniq.noX.RBD.metadata.tsv
data/rbd/spikeprot0528.clean.uniq.noX.RBD.metadata.variants.ADO.csv
data/rbd/spikeprot0528.clean.uniq.noX.RBD.metadata.variants.ADO.fasta
data/rbd/spikeprot0528.clean.uniq.noX.RBD.metadata.variants.O.csv
data/rbd/spikeprot0528.clean.uniq.noX.RBD.metadata.variants.O.fasta
data/rbd/original
notebooks/phylogenetic_analysis/aligned_ADO_seq.afasta
random_vs_stratified_split/embeddings
random_vs_stratified_split/position_stratified_split_mutation_summary_raw_values.csv

notebooks/clustering/blackwell/rbd/clusters/rbd_o*/
notebooks/clustering/blackwell/rbd/param_sweeps/rbd_o*/
notebooks/clustering/blackwell/rbd/parquets/rbd_o*/
notebooks/clustering/blackwell/rbd/plots/rbd_o*/
notebooks/clustering/blackwell/rbd/rbd_o*

# Respect data permissions
/data